#cars{
    color: #001A75;
    margin-left: -30px;
    padding-left: -500px;
}

.sports-cars{
    color: #001A75;
}

#a990b0
 	  #ad92a8
 	  #b194a0
 	  #b59798
 	  #b99990
 	  #bd9b88
 	  #c19d80
 	  #c59f78
 	  #c9a270
 	  #cda468
 	  #d1a660
 	  #d5a859
 	  #d9aa51
 	  #ddad49
 	  #e1af41
 	  #e5b139
 	  #e9b331
 	  #edb529
 	  #f1b821
 	  #f5ba19
  #f9bc11
